Repository maafaishal/complete-express-prisma-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier -w, npx sort-package-json

refactor: add prisma
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/controllers/todo.controller.ts
  src/repositories/todo.repository.ts
  src/repositories/user.repository.ts
  src/services/auth.service.ts
  src/services/todo.service.ts
  src/types/auth.ts
  src/types/todo.ts
  src/utils/prisma.ts
Due: eslint, prettier --write, prettier -w, npx sort-package-json

fix: type error
  src/controllers/todo.controller.ts
  src/middleware/auth.middleware.ts
Due: eslint, prettier --write

chore: token model
  prisma/migrations/20241209064854_/migration.sql
  prisma/migrations/20241209133656_add_token_model/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

refactor: add token
  .vscode/settings.json
  prisma/schema.prisma
  src/controllers/auth.controller.ts
  src/middleware/auth.middleware.ts
  src/repositories/token.repository.ts
  src/routes/auth.route.ts
  src/services/auth.service.ts
  src/utils/token.ts
Due: eslint, prettier --write, prettier -w

fix: bugs
  src/config/app.config.ts
  src/controllers/todo.controller.ts
  src/repositories/todo.repository.ts
  src/services/auth.service.ts
  src/services/todo.service.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
  npx sort-package-json: any of: **/package.json
